body {
    background: url("../Images/fondo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#board {
    width: 38.7em;
    height: 38.7em;
    background: url("../Images/grid.gif");
    position: relative;
    left: 25%;
    margin-top: 5.7em;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
}
.cruz {
    width: 200px;
    height: 200px;
    background: url("../Images/x.png");
}
.zero {
    width: 200px;
    height: 200px;
    background: url("../Images/O.jpg");
}
.box {
    width: 200px;
    height: 200px;
    background: transparent;
    font-size: large;
    color: aqua;
}
td{
    background-color: black;
}
@font-face {
    font-family: 'mono';
    src: url(../Font/Monoton-Regular.ttf);
}
#menu {
    font-family: mono,serif;
    font-size: 2.5em;
    background: transparent;
    color: lightgoldenrodyellow;
    margin-top: -10em;
    margin-left: -2em;
    width: 10em;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
    position: fixed;
    display: block;
    float: left;
}
ul>li{
    display: none;
    cursor: pointer;
    text-align: center;
    list-style: none;
}
#turn {
    font-family: mono, serif;
    font-size: 4em;
    background: transparent;
    color: #ff00de;
    position: absolute;
    top: 0;
    display: inline-block;
    left: 35%;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
}
#score {
    position: absolute;
    height: 20em;
    width: 6.5em;
    background: url("../Images/fondo2.gif");
    top: 3.5em;
    left: 35em;
    font-family: mono, serif;
    font-size: 30px;
    color: cyan;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
}
#Player1 {
    padding-top: 20px;
    width: 200px;
    text-align: center;
}
#Player2 {
    padding-top: 20px;
    width: 200px;
    text-align: center;
}
#wonO {
    font-size: 3em;
}
#wonX {
    font-size: 3em;
}
#win {
    width: 600px;
    height: 600px;
    background: transparent;
    position: fixed;
    left: 25%;
    top: 15%;
    font-family: mono, serif;
    text-align: center;
    font-size: 100px;
    color: chartreuse;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
}